.toggle_image {
    width: 1.5rem;
    position: absolute;
    right: 0px;
    padding-right: 0.2rem;
    padding-top: 0.8rem;
    background-color: #db3d44;
}

.sidebar_div{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #db3d44;
    transition: width .1s;
    display: block;
}

.sidebar_div_collapse{
    width: 3rem;
}


.sidebar_div_extended{
    width: 8rem;
}

.menu_item_div{
    height: 3rem;
    width: 100%;
    background-color: #db3d44;
    position: absolute;
    /* top: 3rem */
}

.menu_item_div:hover{
    background-color: #9e363b;
}

.menu_image{
    width: 2rem;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 0.5rem;
}