.toggle_image {
    width: 1.5rem;
    padding-left: 0.2rem;
    padding-top: 0.8rem;
    background-color: #db3d44;
}

.sidebar_div{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #db3d44;
    transition: width .1s;
}

.sidebar_div_collapse{
    width: 3rem;
}


.sidebar_div_extended{
    width: 8rem;
}